@model University.Models.StudentExamGrade

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StudentExamGrade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.ExamID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.ExamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade.GradeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.GradeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentExamGradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
