@model IEnumerable<University.Models.StudentExamGrade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exam.ExamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.GradeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exam.ExamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.GradeValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentExamGradeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentExamGradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentExamGradeID })
        </td>
    </tr>
}

</table>
